.VModal-style {
  display: flex;
}
.VModal-inner-right {
  margin-left: 20px;
  margin-top: 20px;
}
.VModal-inner-left {
}
/* Custom Scrollbar for WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff; /* Background color of the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #dbdbdb; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounding of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3; /* Color of the scrollbar thumb on hover */
}
/* Extra small devices (max-width: 576px) */
@media only screen and (max-width: 576px) {
    .css-rueg5p{
        width: 350px;
        height: 600px;
        overflow-y: scroll;
    }
    .VModal-style {
        display: block;
    }
    .VModal-inner-right {
        margin-left: 0px;
        margin-top: 0px;
    }
    .VModal-inner-left {
    }
    }

/* Small devices (max-width: 768px) */
@media only screen and (max-width: 768px) {
}

/* Medium devices (max-width: 992px) */
@media only screen and (max-width: 992px) {
}

/* Large devices (max-width: 1200px) */
@media only screen and (max-width: 1200px) {
}
